@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
.Services{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;
    animation: slide 3s ease-in-out;
}
  @keyframes slide {
    0% {
      left: 100%;
    }
    100% {
      left: 0;
    }
  }

.cards{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    height: auto;
    width: 22vw;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 10px;
    margin-right:28px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: transform 0.5s;
}
.cards:hover {
    transform: scale(1.1);
  }
 
 
  
@media screen and (min-width:1025px) and (max-width:1440px){
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #ffffff;
        height: auto;
        width: 20vw;
        border: 1px solid;
        border-color: #ffffff;
        border-radius: 10px;
        margin-right:23px;
        margin-left: 26px;
        margin-bottom: 20px;
        margin-top: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
}
@media screen and (min-width:300px) and (max-width:365px) {
    .cards{
        height: auto;
        width: 300px;
        margin-bottom: 30px;
    }
}
@media screen and (min-width:366px) and (max-width:475px) {
    .cards{
        height: auto;
        width: 320px;
        margin-right:10px;
        margin-bottom: 30px;
        margin-left: 25px;
    }
    
}
@media screen and (min-width:476px) and (max-width:768px) {
    .cards{
        height: auto;
        width: 230px;
        margin-right:18px;
        margin-bottom: 30px;
    }
    
}
@media screen and (min-width:769px) and (max-width:1024px){
    .cards{
        height: auto;
        width: 230px;
        margin-right:18px;
        margin-bottom: 30px;
    }
}
.cards-image{
    height: 50vh;
    width: 22vw;
}



@media screen and (min-width:1025px) and (max-width:1440px){
    .cards-image{
        height: 50vh;
        width: 20vw;
    }
    
}
@media screen and (min-width:300px) and (max-width:365px){
    .cards-image{
        height: 340px;
        width: auto;
    }
}
@media screen and (min-width:366px) and (max-width:475px){
    .cards-image{
        height: 290px;
        width: auto;
    }
    
}
@media screen and (min-width:476px) and (max-width:768px){
    .cards-image{
        height: 240px;
        width: 230px;
    }
    
}
@media screen and (min-width:769px) and (max-width:1024px){
    .cards-image{
        height: 260px;
        width: 230px;
    }
}
.details{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.it-consultany{
    font-family: 'Rajdhani', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #000000;
    padding-left:13px;
    padding-top: 15px;
    font-weight: 700;
}
@media screen and (min-width:1025px) and (max-width:1440px){
    .it-consultany{
        font-family: 'Rajdhani', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #000000;
        padding-left:13px;
        padding-top: 15px;
        font-weight: 700;
    }
}
@media screen and (min-width:300px) and (max-width:365px){
    .it-consultany{
        font-size: 15px;
        padding-left:10px;
        padding-top: 10px;
        font-weight: 700;
    }
}
@media screen and (min-width:366px) and (max-width:475px){
    .it-consultany{
        font-size: 15px;
        padding-left:10px;
        padding-top: 10px;
        font-weight: 700;
    }
}
@media screen and (min-width:476px) and (max-width:768px){
    .it-consultany{
        font-size: 17px;
        padding-left:10px;
        padding-top: 10px;
        font-weight: 700;
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    .it-consultany{
        font-size: 20px;
        padding-left:13px;
        padding-top: 13px;
        font-weight: 700;
    }
}
.know-more{
    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #f20101;
    padding-left:13px;
}
@media screen and (min-width:1025px) and (max-width:1440px){
    .know-more{
        font-family: 'Rajdhani', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #f20101;
        padding-left:13px;
    }
    
}
@media screen and (min-width:300px) and (max-width:365px){
    .know-more{
        font-size: 13px;
        font-weight: 500;
        padding-left:10px;
    }
}
@media screen and (min-width:366px) and (max-width:475px){
    .know-more{
        font-size: 13px;
        font-weight: 500;
        padding-left:10px;
    }
}
  

@media screen and (min-width:476px) and (max-width:768px){
    .know-more{
        font-size: 14px;
        font-weight: 500;
        padding-left:10px;
    }
    
}
@media screen and (min-width:769px) and (max-width:1024px){
    .know-more{
        font-size: 16px;
        font-weight: 500;
        padding-left:13px;
    }
} 

.know-more-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
@media screen and (min-width:1025px) and (max-width:1440px){
    .know-more-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
}
@media screen and (min-width:300px) and (max-width:365px){
    .know-more-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}
@media screen and (min-width:366px) and (max-width:475px){
    .know-more-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}
@media screen and (min-width:476px) and (max-width:768px){
    .know-more-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    .know-more-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
} 
.Know-more-image{
    height: 60vh;
    width: 60vw;
    margin-top: 50px;
    margin-bottom: 30px;
}
@media screen and (min-width:1025px) and (max-width:1440px){
    .Know-more-image{
        height: 60vh;
        width: 55vw;
        margin-top: 50px;
        margin-bottom: 30px;
    }
}
@media screen and (min-width:300px) and (max-width:365px){
    .Know-more-image{
        height: 60vh;
        width: 80vw;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
@media screen and (min-width:366px) and (max-width:475px){
    .Know-more-image{
        height:70vh;
        width: 85vw;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
@media screen and (min-width:476px) and (max-width:768px){
    .Know-more-image{
        height: 60vh;
        width: 70vw;
        margin-top: 40px;
        margin-right: 30px;
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    .Know-more-image{
        height: 60vh;
        width: 80vw;
        margin-top: 40px;
        margin-right: 30px;
    } 
} 

.know-more-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 30px;
}
@media screen and (min-width:1025px) and (max-width:1440px){
    .know-more-button{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 30px;
    }
}
@media screen and (min-width:300px) and (max-width:365px){
    .know-more-button{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 30px;
    }
 
}
@media screen and (min-width:366px) and (max-width:475px){
    .know-more-button{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        margin-bottom: 30px;
    }
}
@media screen and (min-width:476px) and (max-width:768px){
    .know-more-button{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 30px;
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    .know-more-button{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 30px;
    }
} 

.btn-our-service-button {
    background: #f39c12;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition-duration: 0.4s;
    height: 2.5rem;
    width: 10rem;
    text-align: center;
    margin-left: 5rem;
}
@media screen and (min-width:1025px) and (max-width:1440px){
    .btn-our-service-button{
        font-size: 1.1rem;
        font-weight: 400;
        height: 2.5rem;
        width: 8rem;
        margin-left: 50px;
    }
}

@media screen and (min-width:300px) and (max-width:365px){
    .btn-our-service-button{
        height: 2.3rem;
        width: 7rem;
        font-size: 1rem;
        font-weight: 400;
        margin-left: 0rem;
    }
 
}
@media screen and (min-width:366px) and (max-width:475px){
    .btn-our-service-button{
        font-size: 1.2rem;
        font-weight: 400;
        height: 2.5rem;
        width: 10rem;
        margin-left: 0rem;
    }
}
@media screen and (min-width:476px) and (max-width:768px){
    .btn-our-service-button{
        font-size: 1rem;
        font-weight: 400;
        height: 2.5rem;
        width: 7.8rem;
        margin-left: 1rem;
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    .btn-our-service-button{
        font-size: 1.2rem;
        font-weight: 400;
        height: 2.5rem;
        width: 10rem;
    }
} 
.our-services-home-Page-list-styles{
    color: #ff0000;
    text-decoration: none;
}

.btn-our-service-button:hover {
    background: #fff;
    box-shadow: 0px 2px 20px 10px #97B1BF;
    color: #000;
}